:root{
  font-family: 'Nunito', sans-serif;
}

body, html{
  //y dis cannot be default settings, everyone is still gonna change it nowadays -_-
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
}


.post-card{
  transition: all 0.2s;
  padding: 10px;
  margin: 5% 10%;
  display: grid;
  grid-template-areas:
  'title title title'
  'content content content'
  'content content content'
  'link link link';

  border: 0.1px solid black;
  border-radius: 25px;

  &:hover{
    box-shadow: 2px 2px 21px 3px rgba(0,0,0,0.75);
  }

  h4{
    grid-area: title;
    margin: 0;
    padding:0;
    align-self: start;
  }

  .post-summary{
    grid-area: content
  }

  a{
    grid-area: link;
    color: #0066CC;
    text-decoration: none;
    font-weight: bold;
    border-top: 0.1px solid silver;
  }
}

.post-comments{
  display: flex;
  flex-direction: column;

  .comment{
    display: grid;
    grid-template-areas:
            'image name date date'
            'comment comment comment'
            'comment comment comment';


    &:nth-child(even){
      background: silver;
    }

    &:nth-child(odd){
      background: white;
    }

    .poster{
      font-size: 0.7rem;

      img {
        grid-area: image;
        width: 0.7rem;
        transition: all 0.2s;

        &:hover{
          border-radius: 50%;
          border: 1px solid #8de953;
        }
      }

      .authorName{
        grid-area: name;
        font-weight: bold;
      }

      .publishTime{
        grid-area: date;
        text-align: right;
      }
    }
  }


}

.blogpostContainer{
  margin-top: 10px;
}